<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{193,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,41},{193,285}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>OrangeBullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,438},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>bossBullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,286},{133,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,108}}</string>
				<key>sourceSize</key>
				<string>{133,108}</string>
			</dict>

			<key>bulletPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,177},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>bulletThreeWay.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,269},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>bulletVertical.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,85},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>enemyBlack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,0},{93,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,84}}</string>
				<key>sourceSize</key>
				<string>{93,84}</string>
			</dict>

			<key>laserBlue16.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,438},{13,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,54}}</string>
				<key>sourceSize</key>
				<string>{13,54}</string>
			</dict>

			<key>laserGreen15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,46}}</string>
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>

			<key>playerBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,76},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>playerGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,395},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>playerOrange.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,0},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>playerRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,152},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>spaceRocketParts_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,85},{29,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,170}}</string>
				<key>sourceSize</key>
				<string>{29,170}</string>
			</dict>

			<key>spaceShips_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>spaceShips_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,395},{114,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,82}}</string>
				<key>sourceSize</key>
				<string>{114,82}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>richText.png</string>
			</dict>
		</dict>
</plist>